@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/images/eddie.jpg');
  background-size: 100% 100%;
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

.home {
  color: white;
}

.title {
  font-weight: lighter;
}

.photo {
  display: flex;
  width: 95%;
  object-fit: contain;
  margin: auto;
}

.apod-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.nasa-photo {
  text-align: center;
  justify-content: center;
}

.nasa-item {
  padding-bottom: 25px;
  width: 50%;
}

.nasa-data {
  /* background-color: aquamarine; */
  padding: 3.2em 2em 0em 2em;
}

.date, .author {
 font-size: large;
}

.explanation {
  line-height: 2;
  text-align: justify;
  font-size: large;
  word-wrap: break-word;
}

@media (max-width: 1200px) {
  .apod-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .nasa-data {
    width: 80%;
  }
  .nasa-photo {
    width: 100%;
  }
}